.background {
    background-color: rgb(220, 245, 247)
}

.email {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
    font-size: 20px;
}

.nav-item {
    text-align: center;

}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px
}

.title {
    font-size: 70px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    text-align: center;
}

.video {
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    margin-top: 80px;
    margin-bottom: 80px;

}

.text {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.product {
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    margin: 0 auto 50px auto;
    position: relative;

}

.img-clowns {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 100px;


}

.button {
    margin-top: auto;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.watch {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

.img-fighting-clowns {
    display: block;
    margin: auto;
}